.site-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #2196f3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  margin: 50px;
  width: fit-content;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 20px;
  width: fit-content;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  height: 200px;
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.pokemon-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-image {
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}

.pokemon-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.pokemon-types {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.pokemon-type {
  text-align: center;
  width: 60px;
  padding: 5px 10px;
  border-radius: 5px;
}

.pokemon-details {
  position: fixed;
  left: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: fit-content;
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.pokemon-details__image {
  width: 250px;
  height: 250px;
  margin-bottom: 8px;
}

.pokemon-details__name {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.pokemon-details__table:last-child {
  border-bottom: 1px solid black;
}

.pokemon-details__table-row {
  display: grid;
  border: 1px solid black;
  border-bottom: none;
  grid-template-columns: 150px 100px;
  column-gap: 10px;
}

.pokemon-details__table-row p {
  padding-left: 10px;
}

.load-more-button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.load-more-button:hover {
  background-color: #1976d2;
}
